*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: #efefef;
}
div.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #0c97fa, #16e1f5 );
    display: flex;
    justify-content: center;
    align-items: center;
}
div.loader-outer {
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 16px solid #1f428e;
    border-top: 16px solid transparent;
    animation: rotate 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-inner {
    width: 58%;
    height: 58%;
    border-radius: 50%;
    border: 10px solid #1f428e;
    border-top: 10px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 2s both infinite;
}
.loder-inner-inner1 {
    width: 30%;
    height:30%;
    border-radius: 50%;
    border:10px solid #1f428e;
    border-top: 10px solid transparent;
    animation: rotate 2s linear infinite;
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-360deg);}
}
@keyframes rotate1{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

